@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	border:none;
	text-decoration:none;
	color:#000;
	list-style-type:none;
}
ul li{
	list-style:none;
}
.clear{
	clear:both;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

/**head**/
.slider{display:none}
.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:#666;font-size:0}
.focus span.current{background:#fff}


/**banner**/
.ban{
	overflow:hidden;
	position:relative;
	z-index:5;
	background:#fff;
}

.ban>ol{
	height:20px;
	position: relative;
	z-index:10;
	margin-top:-25px;
	text-align:right;
	padding-right:20px;
}

.ban>ol>li{
	display:inline-block;
	margin:5px;
	width:10px;
	height:10px;
	background-color:#757575;
	border-radius: 10px;
}
.ban>ol>li.on{
	background-color:#ffffff;
}



/**
.foot_er li{
	width: 25%;
	display:block;
	height: 100px;
	float:left;
}
.foot_er a{
	font-size:12px;
}
.foot_er li a:hover {
	color: #888888;
}
.home{
	background:url(../images/home.png) no-repeat scroll 50% 15% transparent;
	height: 100%;
}
.bus {
	/**background: url("../images/m/tel.png") no-repeat scroll 50% 15% transparent;**/
	
	/**
	background:url(../images/bus.png) no-repeat scroll 50% 15% transparent;
	height: 100%;
}
.shopping {
	background:url(../images/shopping.png) no-repeat scroll 50% 15% transparent;
	height: 100%;
}
.me {
	background:url(../images/me.png) no-repeat scroll 50% 15% transparent;
	height: 100%;
}*/




























