@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	border:none;
	text-decoration:none;
	color:#000;
	list-style-type:none;
}
ul li{
	list-style:none;
}
.clear{
	clear:both;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
body{
	max-width:640px;
	min-width:320px;
	margin:0 auto;
	font: 12px "Microsoft YaHei" !important;
}


/**gb**/
.gb{
	width:100%;
	height:auto;
	position: relative;
	margin-bottom:10px;
}
.gb .img1{
	width:100%;
	height:auto;
}



.qimo8{
	overflow: hidden;
	width: 80%;
	z-index: 9999;
	position: absolute;
	margin-left: 15%;
	height: 100%;
	top: 62%;
	margin-top: -15px;
}
.qimo8 .qimo {/*width:99999999px;*/width:8000%; height:100%;}
.qimo8 .qimo div{ float:left;height: 100%;}
.qimo8 .qimo ul{float:left; height:100%; overflow:hidden; zoom:1; }
.qimo8 .qimo ul li{float: left;line-height: 30px;list-style: none;font-size:14px;color: #fff;height: 100%;}
.qimo8 li a{    margin-right: 10px;color: #fff;display: block;height: 30px;vertical-align: middle;line-height: 30px;}








/**ss**/
.ss{
	width:100%;
	font-size:1.6em;
	height:50px;
	background:#3CAD5D;
}
.ss .cz{
	width:75%;
	height:35px;
	float:left;
	font-size:13px;
	margin-top:7px;
	color:#fff;
	background:#fff;
	margin-left:3%;
	line-height:35px;
	border:1px solid #cccccc;
}
.ss .cz .icon1{
  font-size: 25px;
  color:#3CAD5D;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
  float:left;
  padding-left:5px;
  line-height:30px;
}
.ss .cz .zt{
	float:left;
	height:35px;
	line-height:35px;
	font-size:15px;
	color:#222;
	width:72%;
	padding-left:5px;
}
.ss .anniu{
	width:19%;
	float:left;
	height:50px;
	margin-right:5px;
}
.ss .anniu .tj{
	width:100%;
	height:38px;
	margin-top:7px;
	margin-left:5px;
	border:2px solid #fff;
	background:#3CAD5D;
	border-radius:5px;
	font-size:17px;
	font-family:"黑体";
	text-align:center;
	line-height:35px;
	color:#fff;
	
}


/**nav**/
.nav{
	width:100%;
	height:auto;
}
.nav li{
	width:20%;
	text-align:center;
	display: inline-block;
	padding-bottom:5px;
	float:left;
	
}
.nav li span{
	margin-top:5px;
	display:block;
	text-align:center;
	font-size:13px;
	color:#5b5858;
	width:100%;
	float:left;
}
.nav li i{
	width:100%;
	border:0px;
	text-align:center;
	height:43px;
	margin:10px 0px;
	float:left;
}
.nav li .icon2{
  font-size: 25px;
  color:#fff;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
  background:#ed746c;
  border-radius:100%;
  width:45px;
  margin-right:15%;
  line-height:43px;
  font-family:"宋体";
}
.nav li .icon3{
  font-size: 30px;
  background:#77a1f3;
  line-height:40px;
}
.nav li .icon4{
  font-size: 30px;
  background:#60d0e4;
  line-height:40px;
}
.nav li .icon5{
  font-size: 25px;
  background:#52d1be;
  line-height:40px;
}
.nav li .icon6{
  font-size: 30px;
  background:#fb8d2e;
  line-height:40px;
}


/**text_ul**/
.text_ul{
	width:100%;
	height:auto;
}
.text_ul li{
	width:33.3%;
	height:auto;
	float:left;
	margin-top:10px;
}
.text_ul li .bg{
	width:100%;
	height:auto;
	float:left;
}
.text_ul li .bg .img{
	width:100%;
	height:auto;
}
.text_ul li .text{
	width:auto;
	height:auto;
	cursor:pointer;
	display:block;
	position:absolute;
	background:#fff;
	filter:alpha(opacity=90); /*IE滤镜，透明度*/
	-moz-opacity:0.9; /*Firefox私有，透明度*/
	opacity:0.9;/*其他，透明度*/
	font-size:13px;
	color:#df346b;
	padding:5px 10px;
	margin-left:5vw;
	font-weight:400;
	border:3px solid rgba(210, 210, 210, 0.6);
	margin-top:5vw;
}



/**gg**/
.gg{
	width:100%;
	height:auto;
	margin-top:10px;
}
.gg .img4{
	width:100%;
	height:auto;
}



/**rec**/
.rec{
	width:100%;
	float:left;
	/*background:#fff;*/
	padding-bottom:10px;
	
}
.rec .title1{
	width:95%;
	float:left;
	font-size:18px;
	color:#000;
	height:30px;
	background:url(../images/tiao.jpg) no-repeat;
	padding-left:5%;
	line-height:30px;
	border-bottom:1px solid #E4E4E4;
	border-top:1px solid #E4E4E4;
	margin-top:10px;
	
}
.rec .title1 a.more{
	display:block;
	float:right;
	font-size:15px;
	font-family:Arial;
	color:#a3a3a3;
	margin-right:5%;
	background:none;
	font-weight:normal;
	line-height:30px;
}
.rec .list{
	width:100%;
	float:left;
}
.rec .list li{
	width:47%;
	float:left;
	background:#fff;
	/*border:1px solid #E4E4E4;*/
	margin-left:2%;
	margin-top:10px;
}
.rec .list li .product{
	border:1px solid #E4E4E4;
}
.rec .list li .pic{
	width:100%;
	float:left;
	height:auto;
	border:0px;
}
.rec .list li .img2{
	width:100%;
	float:left;
	height:auto;
	border:0px;
}
.rec .list li .title2{
	width:94%;
	float:left;
	height:18px;
	line-height:18px;
	font-size:15px;
	color:#000;
	padding:5px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.rec .list li .price{
	width:100%;
	float:left;
	line-height:18px;
	height:auto;
	padding:5px;
	color:#fd1d65;
	font-size:14px;
	box-sizing: border-box;
}
.rec .list li del{
	color:#999;
	font-size:12px;
}
.rec .list li .sales{
	float:right;color:#999;font-size:12px;
}
.rec .list li .price1{
	width:auto;
	color:#7d7c7c;
	text-decoration:line-through;
	padding-left:5%;
	font-size:5px;
}
/**fl**/
.flist{
	width:96%;
	height:auto;
	overflow:hidden;
	padding-left:3%;
}
.flist li{
	width:29.6%;
	height:35px;
	line-height:35px;
	margin-right:3%;
	text-align:center;
	font-size:14px;
	color:#D6107F;
	font-weight:700;
	border:1px solid #D6107F;
	margin-top:10px;
	float:left;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flist li.current{
	background:#D6107F;
	color:#fff;
}
.flist li.current a{
	color:#fff;
}
.flist li a{
	color:#D6107F;
}





































